@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mulish:ital,wght@1,1000&display=swap');
/*
font-family: 'Comfortaa', sans-serif;
font-family: 'Mulish', sans-serif;
*/
:root {
    --color-one: #C60000;
    --color-two: #FFE500;
    --color-three: #7b01f9;
    --gap: 2px;
}
#root {
    margin: 0 auto;
    max-width: 1700px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
}
p, nav, a, button, ul, li, label, form {
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    font-weight: lighter;
}
a.active {
    color: var(--color-three);
    font-weight: bold;
}
a {
    color: white;
}
a, button {
    cursor: pointer;
}
body {
    background-color: black;
    color: white;
    user-select: none;
}
header {
    display: flex;
    align-items: center;
    margin: 10px;
}
nav {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 15px;
    text-transform: uppercase;
}
.language-selector {
    margin-left: auto;
}
.language-selector p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.language-selector p button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid var(--color-three);
}
.contact {
    margin-left: 20px;
    height: 30px;
    width: 120px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 10px;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap);
    padding: var(--gap);
    min-height: 75vh;
    margin: 10px;
}
.line {
    flex: 1;
    min-height: 10vw;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: var(--gap);
    position: relative;
}
.line.wrap {
    flex-wrap: wrap;
}
.block {
    background-color: black;
    position: relative;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
footer nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 10px;
}
footer .social {
    display: flex;
    gap: 5px;
}
footer .social button {
    border: none;
    background-color: transparent;
    padding: 0;
}
footer .social button img {
    width: 40px;
    transition-duration: 1.25s;
}
.mobile {
    display: none;
}
@media all and (max-width: 400px) {
    main {
        margin: 0px;
    }
    .mobile {
        display: block;
    }
    button {
        color: black;
    }
    .line {
        flex-direction: column;
    }
    .block {
        min-height: 150px;
        text-align: left;
    }
    header nav, header .contact, header .language-selector {
        display: none;
    }
    header .mobile {
        display: block;
        border: none;
        background: none;
    }
    header .mobile img {
        height: 40px;
    }
    .mobile.menu {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding: 20px;

        position: absolute;
        z-index: 1000;

        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(17px);
        -webkit-backdrop-filter: blur(17px);
        border-radius: 15px;
        border: 0.5px solid white;
    }
    .mobile.menu nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 25px;
    }
    .mobile.menu .language-selector {
        margin-left: 0;
    }
    .mobile.menu .contact {
        margin: 0;
    }
    footer .social button img {
        width: 30px;
    }
}